﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modern Business - @ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="@Url.Content("/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("/css/modern-business.css")" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>




    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header" style="border-bottom-width:7px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"> </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @*@Html.ActionLink("Manchester British Pakistani 's", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })*@
                <img src="~/Images/british-flag.jpg" class="navbar-brand" />
                <img src="~/Images/paksitan-flag.jpg" class="navbar-brand" />
                @Html.ActionLink("Manchester British Pakistani 's", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="about">
                        @Html.ActionLink("About", "Index", "About")
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Ancestral", "OneColumn", "Portfolio")
                    </li>

                    <li id="contact">
                        @Html.ActionLink("Enterprenuers", "FourColumn", "Portfolio")
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Bussineses", "FourColumn", "Portfolio")
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Jobs", "FourColumn", "Portfolio")
                    </li>
                    <li id="services">
                        @Html.ActionLink("Charity Services", "Index", "Services")
                    </li>



                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="item" style="height:20%;">
        <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three'); height:100%;"></div>
            </div>


    @RenderBody()

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
</body>
</html>