﻿@{
    ViewBag.Title = "Single Portfolio Item";
}
    <script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
    //var imgText = document.getElementById("imgtext");

    expandImg.height = '1050';
    expandImg.width = '800';
    expandImg.src = imgs.src;
    //expandImg.height = 750;
    //expandImg.width = 500;
  //imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
    </script>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Single Portfolio Item
                <small>Explain Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Single Portfolio Item</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            @*<img src="http://placehold.it/750x500" class="img-responsive">*@
            <img src="~/Images/AjazBhaiFatherAndGrandFather.png" class="img-responsive" id="expandedImg">
        </div>
        <div class="col-md-4">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
            <h3>Details</h3>
            <ul>
                <li>Lorem Ipsum</li>
                <li>Dolor Sit Amet</li>
                <li>Consectetur</li>
                <li>Adipiscing Elit</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Related </h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                
                <img src="~/ImagesPNG/AjazFatherAndMother.png" class="img-responsive img-customer" onclick="myFunction(this);">

            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
               
                <img src="~/ImagesPNG/AjazFamilyKids.png" class="img-responsive img-customer" onclick="myFunction(this);">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                
                <img src="~/ImagesPNG/Ajaz bahi.png" class="img-responsive img-customer" onclick="myFunction(this);">
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="#">
                
                <img src="~/ImagesPNG/AjazFriends.png" class="img-responsive img-customer" onclick="myFunction(this);">
            </a>
        </div>
    </div>
</div>